<!-- 
  <div class="container">

    <div class="row">
        <div class="col-lg-9 col-sm-12 mt-5">
            <input type="text" placeholder="enter username" class="form-control" name="username" >
        </div>
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click) = "findByUsername()">Search</button>
        </div>
    </div>
    <h2 class="mt-5 mb-4 ">Results</h2>
    <div class="row col-lg-12 col-sm-12 text-dark">
        <table class="table">`
          <thead>
            <tr>
              <td>Username</td>
              <td>Firstname</td>
              <td>Lastname</td>
              <td>Age</td>
              <td>password</td>
              <td>confirmpassword</td>
            </tr>
          </thead>
            <tbody>
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.confirmpassword}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
